* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 1.8em Helvetica, Arial;
  background-image: url("h.jpg");
  background-repeat: repeat;
  background-color: #cccccc;
}


form {
  background: rgb(94, 119, 96);
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

form input {
  border: 0;
  padding: 10px;
  width: 100%; /* 90% is too much */
  margin-right: .5%;
}

form #button {
  color: #FFF;
  background: rgb(142, 71, 207);
  border: none;
  padding: 10px;
  width: 100%;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}

#notifyUser {
  position: fixed;
  bottom: 42px;
  width: 100%;
}

/* Reference: http://javabeginnerstutorial.com/javascript-2/create-simple-chat-application-using-node-js-express-js-socket-io/ */